:root{
    --l-space: 2rem;
    --m-space: 1rem;
    --s-space: 0.5rem;
    --alert-color: red;
    --link-color: dodgerblue;
    --recieved-achievment-color: green;
    --affordable-unit-color: yellow;
    --border-radius: 0.3rem;
}
*{
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
}
@media (prefers-color-scheme: light){
    :root{
        --color: black;
        --background-color: white;
        --accent-color: blue;
    }
}
@media (prefers-color-scheme: dark){
    :root{
        --color: white;
        --background-color: #121212;
        --accent-color: orange;
    }
}
@media (max-width: 768px){
    main{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, 1fr) !important;
        gap: var(--l-space) !important;
    }
    #unitsSection, #statsSection, #achievementsSection, #aboutSection{
        grid-column: 1 !important;
        width: 100% !important;
    }
    #unitsSection{
        grid-row: 2 !important;
    }
    #statsSection{
        grid-row: 1 !important;
    }
    #achievementsSection{
        grid-row: 3 !important;
    }
    #aboutSection{
        grid-row: 4 !important;
    }
}
html, body{
    background-color: var(--background-color);
    color: var(--color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
th{
    min-width: 10rem;
    text-align: left;
}
caption{
    font-size: 0.5rem;
}
button:hover{
    color: var(--background-color);
    background-color: var(--accent-color);
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color);
    background-color: var(--background-color);
    border: 1px solid var(--color);
    padding: var(--s-space);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
}
#clearButton:hover{
    color: var(--background-color);
    background-color: var(--alert-color);
}
#clearButton{
    color: var(--alert-color);
    border: 1px solid var(--alert-color);
    background-color: var(--background-color);
}
#container{
    width: 100%;
    height: 100%;
}
.stat, .achievement, .unit{
    border: 1px dashed var(--color);
    border-radius: var(--border-radius);
}
.stat:hover, .unit:hover, .achievement:hover{
    border: 1px solid var(--color);
    border-radius: var(--border-radius);
}
.achievement.achieved:hover{
    border: 1px solid var(--recieved-achievment-color);
    border-radius: var(--border-radius);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    padding: var(--s-space);
    background-color: var(--background-color);
}
main{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    height: 100%;
    padding: var(--m-space);
    padding-top: 6rem;
}
.mainBox{
    padding: var(--m-space);
    overflow: auto;
}
.unitContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--color);
    margin: var(--m-space);
}
.unitContainer *{
    margin: var(--m-space);
}
#unitsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--s-space);
}
.unit{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.unit.hidden{
    visibility: hidden;
}
.unit *{
    margin: var(--s-space);
}
#statsSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#statsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    gap: var(--m-space);
    flex: 1;
}
.stat{
    display: flex;
    flex-direction: column;
    text-align: center;
    word-break: break-all;
    padding: var(--s-space);
}
.stat:hover{
    border: 1px solid var(--color);
}
.statCounter{
    word-break: break-all;
}
#achievementsGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, min-content);
    gap: var(--s-space);
    width: 100%;
    height: 100%;
}
.achievement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.achievement.achieved{
    border: 1px dashed var(--recieved-achievment-color);
}
#beesButton{
    width: 100%;
    height: 10%;
    margin-bottom: var(--m-space);
}
.limitCounter{
    opacity: 0.5;
}
#gameButtons{
    display: flex;
    flex-direction: row;
}
#gameButtons button{
    margin-right: var(--m-space);
}